# IntelliJ IDEA
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Environment variables
.env

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Docker
*.pid